.modal {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 360px;
	padding: 26px 26px 16px;
	background-color: #1d252d;
}

.modal__close {
	position: absolute;
	right: 6px;
	top: 6px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

.modal__close-icon {
	color: #fff;
}

.modal__text {
	margin: 0 0 16px;
	font-weight: 300;
	font-size: 12px;
	line-height: 125%;
	color: #fff;
}

.modal__link {
	text-decoration: underline;
	transition: color .3s ease-in-out;
}

.modal__link:hover {
	color: rgba(255, 255, 255, 0.5);
}

.modal__button {
	width: 308px;
	padding: 9px;
	border-radius: 40px;
	border: none;
	background: #d6d2c4;
	font-family: inherit;
	font-weight: 300;
	font-size: 12px;
	line-height: 117%;
	color: #1d252d;
	cursor: pointer;
}


