.vacancy {
	padding-top: 40px;
	padding-bottom: 117px;
}

.vacancy__top {
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vacancy__title {
	margin: 0;
	font-weight: 200;
	font-size: 60px;
	line-height: 120%;
	text-transform: uppercase;
}

.vacancy__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.vacancy__contacts-text {
	margin: 0 0 5px;
	font-size: 12px;
	line-height: 117%;
}

.vacancy__contacts-list {
	margin-bottom: 20px;
	display: flex;
	gap: 20px;
}

.vacancy__contacts-item {
	position: relative;
}

.vacancy__contacts-item:first-child::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -10px;
	height: 100%;
	width: 1px;
	background-color: #1d252d;
}

.vacancy__contacts-link {
	font-size: 18px;
	line-height: 122%;
	color: #1d252d;
}

.vacancy__contacts-link:hover {
	text-decoration: underline;
}

.vacancy__cv {
	font-weight: 300;
	font-size: 14px;
	line-height: 129%;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #1d252d;;
}

.vacancy__cv:hover {
	color: rgba(29, 37, 45, 0.5);
}

.vacancy__list {
	margin-bottom: 80px;
}

.vacancy__item {
	position: relative;
}

.vacancy__item::after, 
.vacancy__item::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: #d6d2c4;
}

.vacancy__item::after {
	top: 0;
}

.vacancy__item:last-child::before {
	bottom: 0;
}

.vacancy__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px;
	color: #1d252d;
	transition: background-color .3s ease-in-out;
}

.vacancy__link:hover {
	background-color: rgba(214, 210, 196, 0.2);
}

.vacancy__name {
	margin: 0;
	font-weight: 300;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
}

.vacancy__salary {
	font-size: 16px;
	line-height: 125%;
}

